<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Lista de Actores </title>
        <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
        <figure> <a href="/"> <img src="/img/logo-DH.png" alt="Logo DH"> </a> </figure>   
        <br>
        <h1 class="titulos"> LISTA DE ACTORES </h1>
        <br>

        <ul>
              <% for(let i = 0; i < actores.length; i++ ) {%>
              <li type="none" class="listaActores"> <br> 
              <a href="/actors/detail/<%= actores[i].id %>"> <%= actores[i].first_name + " " + actores[i].last_name %> </a> </li>
              <%} %>
        </ul>
        <br>
        <br>
        <p> <a class="botonVolverInicioA" href="/"> Volver </a> </p>
</body>

</html>