<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Género </title>
        <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
        <figure> <a href="/"> <img src="/img/logo-DH.png" alt="Logo DH"> </a> </figure>    
        <br>
        <h1> Género </h1>
        <br>
        <p> Nombre: <%= genero.name %> </p>
        <br>
        <p> Ranking: <%= genero.ranking %> </p>
        <br>
        <br>
        <p> <a class="botonVolverGenero" href="/genres"> Volver </a> </p>
</body>

</html>