<!DOCTYPE html>
<html lang="es">

<head>
        <title> <%= titulo %> </title>
        <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
        <figure> <a href="/"> <img src="/img/logo-DH.png" alt="Logo DH"> </a> </figure>
        <br>
        <h1> <%= titulo %> </h1>
        <br>
        <p> ¡Bienvenidos a <%= titulo + "!" %> </p>
        </br>
        <p> <a href="/movies"> Lista de Películas </a> </p>
        <br>
        <p> <a href="/genres"> Lista de Géneros </a> </p>
        <br>
        <p> <a href="/actors"> Lista de Actores </a> </p>
</body>

</html>
